<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cn_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cn_name" data-rule="required" class="form-control" name="row[cn_name]" type="text" value="{$row.cn_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('En_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-en_name" data-rule="required" class="form-control" name="row[en_name]" type="text" value="{$row.en_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Local_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-local_name"  class="form-control" name="row[local_name]" type="text" value="{$row.local_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Two_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-two_code" data-rule="required" class="form-control" name="row[two_code]" type="text" value="{$row.two_code|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Three_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-three_code"  class="form-control" name="row[three_code]" type="text" value="{$row.three_code|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Currency')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-currency" data-source="countrys/selectpage" data-field="en_name" data-primaryKey="id" class="form-control selectpage"   name="row[currency]"  type="text" value="{$row.currency}" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('状态')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-status" class="form-control"  name="row[status]">
                <option value='0' {if $row['status'] == 0}selected{/if}>可用</option>
                <option value='1' {if $row['status'] == 1}selected{/if}>停用</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
